.chat {
    padding: 5px;
    border: 2px #000 solid;
    width: 25%;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 20%;
    overflow: auto;
}

.chat .submit {
    position: absolute;
    bottom: 15px;
    right: 12px;
}

.chat .input-chat {
    position: absolute;
    bottom: 12px;
    width: 20%;
}

.status {
    border: 2px #000 solid;
    right: 5px;
    height: 21%;
    position: absolute;
    bottom: 5px;
    width: 71%;
    margin-right: 27%;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

.map td {
    border: 1px solid #000;
    width: 70px;
    height: 40px;
}

.cursor {
    cursor: pointer;
    cursor: hand;
}