.chat {
    padding: 5px;
    border: 2px #000 solid;
    width: 250px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 190px;
    overflow: auto;
}
.chat .submit {
	position: absolute;
    bottom: 7px;
    right: 12px;
}
.chat .input-chat {
	position: absolute;
    bottom: 7px;
    width: 180px;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
}

.map td {
    border: 1px solid #000;
    width: 70px;
    height: 40px;
}

.cursor {
    cursor: pointer;
    cursor: hand;
}