<!DOCTYPE html>
<html>
	<head>
	  <% include ../partials/header.ejs %>
	</head>

	<body>

	<div class="container">
		<a href="/deconnection" class="bt_decconnection">Deconection</a>
		<!-- MAP -->
		<div class="map" id="map">
		</div>
		<!-- Info hero, tour adv -->
		<div class="status" id="status">

		</div>
		<!-- CHAT -->
	    <form class="chat" id="chat" method="POST" action="javascript:onSubmit();">
	      <div class="rep" id="msg">
	      </div>
	      <input type="text" name="msg" class="input-chat" style="position: fixed;">
	      <input type="submit" class="submit" name="send" value="send" style="position: fixed;">
	    </form>

	</div>


	</body>
		<script>
		  var socket = io.connect('http://localhost:5000');
		  socket.on('response', function (data) {
		      $("#msg").prepend("<p>" + data.sender + " : " + data.msg + "</p>");
		  });
		  function onSubmit () {
		    var msg = $(".input-chat").val();
		    if (msg != "" && msg != null) {
		      $(".input-chat").val("");
		      socket.emit('message', msg);
		    }
		  };
	   	var map = "<table >\n";
	   	for (var y = 0; y != 17; ++y) {
	   		map = map + "<tr>\n";
	   		for (var x = 0; x != 20; ++x) {
	   			map = map + "<td></td>\n";
	   		}
	   		map = map + "</tr>\n";
	   	}
	   	map = map + "</table>";
	    $("#map").prepend(map);
		</script>
</html>
